<html>
  <head>
    <style type="text/css">
      body {
        background: white;
        color: red;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid blue;
        padding: 10px;
        text-align: center;
      }
      h4 {
        #text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4> Scale Infinite</h4>
      <h4> Welcome to scale infinite homepage
      </h4>
      <div>
        <img src="{{image_path}}">
      </div>
    </div>
  </body>
</html>